---
const year = new Date().getFullYear();
---

<footer>
  <div class="container">
    <p>
      &copy; {year} <a href="https://airecaps.com">AI Recaps</a>. All rights reserved.
      &nbsp;|&nbsp;
      <a href="/blog/rss.xml">RSS Feed</a>
    </p>
  </div>
</footer>
